作業目標:<br>
1. 運用索引找出需要資料<br>
2. 合併資料的分法應用

作業重點:<br>
1. 分辨索引loc、iloc差別
2. 分辨合併資料方法的不同，因應不同情況使用Merge, join, concatenate

題目:<br>
讀取STOCK_DAY_0050_202009.csv串聯STOCK_DAY_0050_202010.csv，並且找出open小於close的資料

In [1]:
import pandas as pd

In [6]:
#讀取STOCK_DAY_0050_202009.csv、STOCK_DAY_0050_202010.csv
data1=pd.read_csv('STOCK_DAY_0050_202009.csv').set_index('date')
data2=pd.read_csv('STOCK_DAY_0050_202010.csv').set_index('date')

In [7]:
data1

             open    high     low   close
date
109/09/01  102.45  103.35  101.85  103.35
109/09/02  103.65  104.05  102.30  103.00
109/09/03  103.70  104.30  103.20  103.30
109/09/04  102.00  102.70  101.90  102.55
109/09/07  102.55  103.05  101.90  102.40
109/09/08  102.75  103.10  102.45  103.00
109/09/09  101.75  102.35  101.15  102.30
109/09/10  102.80  103.35  102.60  103.20
109/09/11  103.20  103.35  102.80  103.25
109/09/14  103.50  104.55  103.25  104.55
109/09/15  104.45  105.20  104.25  104.95
109/09/16  106.55  107.00  106.35  106.55
109/09/17  106.05  106.35  105.10  105.40
109/09/18  105.40  105.70  104.85  105.30
109/09/21  105.20  105.90  104.35  104.45
109/09/22  104.30  104.30  102.95  103.10
109/09/23  103.50  103.50  102.40  102.95
109/09/24  101.55  101.80  100.25  100.45
109/09/25  100.75  101.45  100.05  100.65
109/09/28  101.35  102.30  101.00  102.30
109/09/29  102.75  103.50  102.15  102.55
109/09/30  102.75  103.45  102.60  103.00

In [9]:
#串聯
data=pd.concat([data1,data2])

In [1]:
#找出open小於close的資料

In [16]:
data.loc[(data.open<data.close),["open","close"]]

             open   close
date
109/09/01  102.45  103.35
109/09/04  102.00  102.55
109/09/08  102.75  103.00
109/09/09  101.75  102.30
109/09/10  102.80  103.20
109/09/11  103.20  103.25
109/09/14  103.50  104.55
109/09/15  104.45  104.95
109/09/28  101.35  102.30
109/09/30  102.75  103.00
109/10/06  104.00  104.25
109/10/07  104.00  104.80
109/10/08  105.45  106.20
109/10/12  106.70  107.05
109/10/19  105.65  106.60
109/10/22  105.70  106.10