範例目標:<br>
1. 讀寫csv
2. 讀寫excel
3. 讀寫json
4. 讀寫SQL資料庫

範例重點:<br>
1. 讀寫不同格式的檔案，有個別不同的讀取函式。<br>
 - csv檔案：read_csv、to_csv
 - excel檔案：read_excel、to_excel
 - json檔案：read_json、to_json
 - SQL資料庫檔案：io.sql.read_sql、to_sql

2. 讀取進來後都是DataFrame的型態

In [1]:
import pandas as pd

In [ ]:
#下載套件
!pip install openpyxl
!pip install XLRD

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.0.5-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 3.7 MB/s eta 0:00:01
Collecting jdcal
  Downloading jdcal-1.4.1-py2.py3-none-any.whl (9.5 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.0.1.tar.gz (8.4 kB)
Building wheels for collected packages: et-xmlfile
  Building wheel for et-xmlfile (setup.py) ... done
  Created wheel for et-xmlfile: filename=et_xmlfile-1.0.1-py3-none-any.whl size=8917 sha256=7584453fbec4cd81222e7dd792129bc80a7a7442380ac5707e7babee9f0e939f
  Stored in directory: /home/hong/.cache/pip/wheels/ef/92/e0/956c00decf3091294b8800d9104f6169a1adacfaafd122ed42
Successfully built et-xmlfile
Installing collected packages: jdcal, et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.0.1 jdcal-1.4.1 openpyxl-3.0.5
WARNING: You are using pip version 20.2.3; however, version 20.2.4 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: XLRD in /home/hong/.local/lib/python3.6/site-packages (1.2.0)
WARNING: You are using pip version 20.2.3; however, version 20.2.4 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

#讀寫CSV

CSV 的資料由很多文本資料組成，資料之間以逗點隔開。

首先我們使用 Pandas 的套件中 pd.read_csv 讀取一個 CSV 檔，
學員可從範例資料中下載 iris.csv

讀取之後即為 DataFrame 的資料型態。

In [2]:
#Pandas 套件中 pd.read_csv 用來讀取一個CSV檔案，讀取之後為DataFrame的資料型態
iris_data = pd.read_csv('iris.csv')
iris_data

     sepal length  sepal width  petal length  petal width  target
0             5.1          3.5           1.4          0.2       0
1             4.9          3.0           1.4          0.2       0
2             4.7          3.2           1.3          0.2       0
3             4.6          3.1           1.5          0.2       0
4             5.0          3.6           1.4          0.2       0
..            ...          ...           ...          ...     ...
145           6.7          3.0           5.2          2.3       2
146           6.3          2.5           5.0          1.9       2
147           6.5          3.0           5.2          2.0       2
148           6.2          3.4           5.4          2.3       2
149           5.9          3.0           5.1          1.8       2

[150 rows x 5 columns]

pd.read_csv提供參數 `usercols`，可用來控制讀取檔案裡的特定欄位。透過指定欄位名稱來縮減讀取範圍。

In [3]:
#使用usercols參數指定讀取的欄位：petal length、petal width、target
iris_data = pd.read_csv('iris.csv',usecols=['petal length','petal width','target'])
iris_data

     petal length  petal width  target
0             1.4          0.2       0
1             1.4          0.2       0
2             1.3          0.2       0
3             1.5          0.2       0
4             1.4          0.2       0
..            ...          ...     ...
145           5.2          2.3       2
146           5.0          1.9       2
147           5.2          2.0       2
148           5.4          2.3       2
149           5.1          1.8       2

[150 rows x 3 columns]

另外也可以利用 `names` 參數來定義欄位名稱，<br>
以及 `header` 參數來指定讀取的「起始列數」


以範例檔案的 iris.csv 為例，<br>
我們可以避開原始的欄位名稱(第0列)，
從資料列(第1列)開始讀取，<br>
並給定新的欄位名稱為：featrue1、featrue2、featrue3、featrue4、target

In [8]:
iris_data = pd.read_csv('iris.csv',header=0,names=['featrue1','featrue2','featrue3','featrue4','target'])
iris_data

     featrue1  featrue2  featrue3  featrue4  target
0         5.1       3.5       1.4       0.2       0
1         4.9       3.0       1.4       0.2       0
2         4.7       3.2       1.3       0.2       0
3         4.6       3.1       1.5       0.2       0
4         5.0       3.6       1.4       0.2       0
..        ...       ...       ...       ...     ...
145       6.7       3.0       5.2       2.3       2
146       6.3       2.5       5.0       1.9       2
147       6.5       3.0       5.2       2.0       2
148       6.2       3.4       5.4       2.3       2
149       5.9       3.0       5.1       1.8       2

[150 rows x 5 columns]

In [ ]:
#使用.to_csv()的方法就可以將資料存到指定路徑下
iris_data.to_csv('my_iris.csv')

In [ ]:
#pd.read_excel()函數支援讀取Excel 2003之後的格式資料，此方法內部是使用XLRD或OpenPyXL套件，所以使用前確認至少安裝其中一項
data = pd.read_excel('data.xls')
data

     sepal length  sepal width  petal length  petal width  target
0             5.1          3.5           1.4          0.2       0
1             4.9          3.0           1.4          0.2       0
2             4.7          3.2           1.3          0.2       0
3             4.6          3.1           1.5          0.2       0
4             5.0          3.6           1.4          0.2       0
..            ...          ...           ...          ...     ...
145           6.7          3.0           5.2          2.3       2
146           6.3          2.5           5.0          1.9       2
147           6.5          3.0           5.2          2.0       2
148           6.2          3.4           5.4          2.3       2
149           5.9          3.0           5.1          1.8       2

[150 rows x 5 columns]

In [ ]:
#sheetname參數傳入要讀取頁面的名稱
boston_data = pd.read_excel('data.xls',sheet_name='boston')
boston_data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [ ]:
#pd.read_excel和pd.read_csv一樣有usecols、header、names可以使用
boston_data = pd.read_excel('data.xls',sheet_name='boston',header=0 \
                            ,usecols=['TAX','PTRATIO','B','LSTAT'])
boston_data

     TAX  PTRATIO       B  LSTAT
0    296     15.3  396.90   4.98
1    242     17.8  396.90   9.14
2    242     17.8  392.83   4.03
3    222     18.7  394.63   2.94
4    222     18.7  396.90   5.33
..   ...      ...     ...    ...
501  273     21.0  391.99   9.67
502  273     21.0  396.90   9.08
503  273     21.0  396.90   5.64
504  273     21.0  393.45   6.48
505  273     21.0  396.90   7.88

[506 rows x 4 columns]

In [ ]:
#.to_excel()的方法就可以將資料存到指定路徑下，也可以使用sheet_name更改工作簿名稱
boston_data.to_excel('my_boston.xlsx',sheet_name='boston')

In [ ]:
boston_data[:5]

   TAX  PTRATIO       B  LSTAT
0  296     15.3  396.90   4.98
1  242     17.8  396.90   9.14
2  242     17.8  392.83   4.03
3  222     18.7  394.63   2.94
4  222     18.7  396.90   5.33

In [ ]:
import json

In [ ]:
#pd.read_json()函數支援讀取JavaScript物件表示法(JSON)格式資料，json具有跨平台與程式語言的可攜性
boston_data = pd.read_json('boston.json')
boston_data

     TAX  PTRATIO       B  LSTAT
0    296     15.3  396.90   4.98
1    242     17.8  396.90   9.14
2    242     17.8  392.83   4.03
3    222     18.7  394.63   2.94
4    222     18.7  396.90   5.33
..   ...      ...     ...    ...
501  273     21.0  391.99   9.67
502  273     21.0  396.90   9.08
503  273     21.0  396.90   5.64
504  273     21.0  393.45   6.48
505  273     21.0  396.90   7.88

[506 rows x 4 columns]

In [ ]:
#.to_json()的方法就可以將資料存到指定路徑下
boston_data.to_json('boston.json')

In [ ]:
import sqlite3

In [ ]:
#以下先用boston.csv的資料寫入SQLite3資料庫中並且命名boston，由if_exists參數判斷是否存在資料庫，如果檔案不存在會立即被建立，如果存在if_exists='replace'將會取代掉原本資料，if_exists='append'將會繼續寫在原有資料下
boston_data = pd.read_excel('data.xls',sheet_name='boston',header=0 \
                            ,usecols=['TAX','PTRATIO','B','LSTAT'])
connection = sqlite3.connect('sql_db.sqlite')
boston_data.to_sql('boston', connection, if_exists='replace')
connection.commit()
connection.close()

In [ ]:
#讀取SQLite3資料庫可以使用pd.io.sql.read_sql，可以直接下SQL指令對sql_db中的boston做搜尋
connection = sqlite3.connect('sql_db.sqlite')
boston_data_sql = pd.io.sql.read_sql("select * from boston",connection)
connection.close()
boston_data_sql

     index  TAX  PTRATIO       B  LSTAT
0        0  296     15.3  396.90   4.98
1        1  242     17.8  396.90   9.14
2        2  242     17.8  392.83   4.03
3        3  222     18.7  394.63   2.94
4        4  222     18.7  396.90   5.33
..     ...  ...      ...     ...    ...
501    501  273     21.0  391.99   9.67
502    502  273     21.0  396.90   9.08
503    503  273     21.0  396.90   5.64
504    504  273     21.0  393.45   6.48
505    505  273     21.0  396.90   7.88

[506 rows x 5 columns]

In [ ]:
boston_data_sql

     index  TAX  PTRATIO       B  LSTAT
0        0  296     15.3  396.90   4.98
1        1  242     17.8  396.90   9.14
2        2  242     17.8  392.83   4.03
3        3  222     18.7  394.63   2.94
4        4  222     18.7  396.90   5.33
..     ...  ...      ...     ...    ...
501    501  273     21.0  391.99   9.67
502    502  273     21.0  396.90   9.08
503    503  273     21.0  396.90   5.64
504    504  273     21.0  393.45   6.48
505    505  273     21.0  396.90   7.88

[506 rows x 5 columns]